@font-face {
    font-family: 'URW-DIN';
    src: url('./fonts/URW-DIN.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'URW-DIN';
    src: url('./fonts/URW-DIN-DEMI.otf');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'iCielEditorialNew';
    src: url('./fonts/iCielEditorialNew-Light.otf');
    font-style: normal;
    font-weight: 300;
}