@import './fonts/fontface';

.adm_emag {
    position: relative;
    padding-top: 44px;
    overflow: hidden;
    font-size: 16px;
    color: #000000;
    line-height: 1.5;

    .img-fluid {
        max-width: 100%;
        width: 100%;
        height: 100%;
    }

    .hide-opacity {
        opacity: 0;
    }


    .swiper {
        position: relative;

        .swiper-slide {
            position: relative;

            .slide-content {
                position: relative;
                width: 100%;
                height: calc(100vh - 44px);

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 2;

                    &:first-child {
                        position: relative;
                        z-index: 1;
                    }
                }

                .text-wrapper {
                    position: absolute;
                    z-index: 2;

                    h3 {
                        font-family: 'iCielEditorialNew';
                        font-style: normal;
                        font-weight: 300;
                        color: #000000;
                        text-transform: uppercase;
                        font-size: 45px;
                        margin-bottom: 40px;
                    }

                    p {
                        color: #000000;
                        font-family: 'URW-DIN';
                        font-size: 20px;
                        font-style: normal;
                        font-weight: normal;
                        margin-bottom: 20px;

                        @media (max-width: 1680px) {
                            font-size: 18px;
                        }

                        @media (max-width: 1600px) {
                            font-size: 16px;
                        }

                        @media (max-width: 1440px) {
                            font-size: 15px;
                        }

                        @media (max-width: 1366px) {
                            font-size: 13px;
                        }

                        @media (max-width: 1200px) {
                            font-size: 12px;
                        }
                    }

                    &.cover-text1 {
                        bottom: 5%;
                        left: 30%;
                        width: 26%;

                        p {
                            font-size: 18px;

                            @media (max-width: 1680px) {
                                font-size: 16px;
                            }

                            @media (max-width: 1600px) {
                                font-size: 14px;
                            }

                            @media (max-width: 1366px) {
                                font-size: 12px;
                            }
                        }
                    }

                    &.cover-text2 {
                        bottom: 5%;
                        right: 10%;
                        width: 21%;

                        p {
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 500;

                            @media (max-width: 1680px) {
                                font-size: 16px;
                            }

                            @media (max-width: 1600px) {
                                font-size: 14px;
                            }

                            @media (max-width: 1366px) {
                                font-size: 12px;
                            }
                        }
                    }

                    &.slide1-text {
                        top: 10%;
                        right: 8%;
                        width: 28%;
                    }

                    &.slide2-text {
                        top: 10%;
                        left: 5%;
                        width: 30%;
                    }

                    &.slide3-text {
                        top: 55%;
                        right: 6%;
                        width: 25%;
                    }

                    &.slide4-text {
                        bottom: 25%;
                        left: 6%;
                        width: 30%;
                    }

                    &.slide6-text {
                        top: 15%;
                        right: 6%;
                        width: 30%;

                        @media (max-width: 1600px) {
                            top: 13%;
                        }
                    }

                    &.slide7-text {
                        bottom: 20%;
                        right: 6%;
                        width: 25%;
                    }

                    &.slide8-text {
                        bottom: 25%;
                        left: 6%;
                        width: 30%;
                    }

                    &.slide9-text {
                        top: 10%;
                        left: 4%;
                        width: 30%;

                        h3 {
                            @media (max-width: 1600px) {
                                font-size: 40px;
                            }

                            @media (max-width: 1440px) {
                                font-size: 35px;
                            }

                            @media (max-width: 1366px) {
                                font-size: 30px;
                            }

                            @media (max-width: 1200px) {
                                font-size: 25px;
                            }
                        }
                    }

                    &.slide10-text {
                        top: 15%;
                        right: 6%;
                        width: 30%;
                    }

                    &.slide11-text {
                        top: 15%;
                        left: 6%;
                        width: 30%;
                    }

                    &.slide13-text {
                        top: 15%;
                        right: 6%;
                        width: 32%;
                    }

                    &.slide14-text {
                        bottom: 13%;
                        right: 6%;
                        width: 25%;
                    }

                    &.slide15-text {
                        bottom: 13%;
                        right: 6%;
                        width: 25%;
                    }

                    &.slide16-text {
                        bottom: 15%;
                        left: 4.5%;
                        width: 25%;
                    }

                    &.slide18-text {
                        top: 15%;
                        right: 6%;
                        width: 30%;
                    }

                    &.slide19-text {
                        bottom: 15%;
                        right: 6%;
                        width: 25%;
                    }

                    &.slide20-text {
                        bottom: 25%;
                        left: 4%;
                        width: 30%;
                    }

                    &.slide21-text {
                        bottom: 15%;
                        right: 6%;
                        width: 25%;
                    }

                    &.slide23-text {
                        top: 10%;
                        left: 4%;
                        width: 30%;
                        text-align: center;

                        h3 {
                            span {
                                color: #C28307;
                                margin-right: 5px;
                            }

                            @media (max-width: 1600px) {
                                font-size: 40px;
                                margin-bottom: 30px;
                            }

                            @media (max-width: 1440px) {
                                font-size: 35px;
                            }

                            @media (max-width: 1366px) {
                                font-size: 30px;
                            }

                            @media (max-width: 1200px) {
                                font-size: 25px;
                            }
                        }

                        p {
                            span {
                                font-style: normal;
                                font-weight: 500;
                            }
                        }

                        .credit {
                            display: flex;
                            width: 100%;
                            justify-content: space-around;
                            margin-top: 40px;

                            p {
                                text-transform: uppercase;
                                flex: 0 0 33%;
                                max-width: 33%;

                                span {
                                    display: block;
                                    font-style: normal;
                                    font-weight: normal;
                                    color: #6A6662;
                                    font-size: 14px;

                                    @media (max-width: 1600px) {
                                        font-size: 12px;
                                    }

                                    @media (max-width: 1440px) {
                                        font-size: 11px;
                                    }

                                    @media (max-width: 1366px) {
                                        font-size: 9px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}